.titulo-us {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #fff3e0, #ffcc80, #ff9800);
    color: #3e1f00;
}
.foto-logo {

  max-width: 150px; 
  height: auto;     
  display: block;
  margin: 0 auto;  
}
.subtitulo-us {
    text-align: center;
    margin-bottom: 50px;
}
.descripcion-us {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
    color: hsl(0, 0%, 3%);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    
    padding: 20px;
}
header {
    background-color: #dd5115;

    position: sticky;

    top: 0;

    z-index: 1000;

    box-shadow:
        0 2px 12px rgba(0, 0, 0, 0.2);
}
header {
    background: linear-gradient(90deg, #e65100, #ff8f00);
    color: white;
}



.navbar {
    width: 90%;
    max-width: 1150px;

    margin: auto;

    min-height: 70px;

    display: flex;

    align-items: center;

    justify-content: space-between;
}

.logo {
    color: white;

    font-size: 22px;

    font-weight: bold;
}


.menu {
    list-style: none;

    display: flex;

    gap: 30px;
}

.menu a {
    color: #e2e8f0;

    text-decoration: none;

    font-size: 15px;

    transition: color 0.3s;
}

.menu a:hover {
    color: #1f1d1d;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group option {
    padding: 10px;
    border: 1px solid #d4a373;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}


.form-group option:focus {
    border-color: #a96934;
    box-shadow: 0 0 5px rgba(169, 105, 52, 0.4);
}


.btn-register,.btn-contact {
    width: 100%;
    padding: 12px;
    background-color: #ca7015;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_register:hover {
    background-color: #6e3f11;
}
.services-us {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; 
}

.descripcionServices-us {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    color: hsl(0, 0%, 3%);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 20px;
}